html {
  font-size: 10px;
  background-color: rgba(255, 167, 62, 0.1); }

.login__msg {
  font-size: 1.8rem; }

.login__main {
  background-color: rgba(255, 167, 62, 0.1);
  height: 100vh; }

.login__container {
  border-radius: 20px;
  background-color: #FFFFFF;
  height: 90vh;
  width: 80vw;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0.2rem 0.2rem rgba(99, 77, 51, 0.2); }

.login__form-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: centers;
  justify-content: center;
  height: 80vh;
  border-color: black;
  border-width: 3px; }

.login__title {
  font-weight: bold;
  font-size: 4rem;
  color: black;
  margin-bottom: 1rem; }

.login__input-container {
  display: flex;
  height: 3rem;
  margin-bottom: 2rem; }

.login__input-field {
  border-radius: 1rem;
  width: 50%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgba(255, 167, 62, 0.1); }
  .login__input-field:focus {
    outline: none;
    padding: 0.3rem;
    border-color: rgba(255, 167, 62, 0.4); }

.login__button {
  background-color: #ffa73e;
  color: white;
  border-radius: 0.7rem;
  padding: 0.5rem 1.2rem;
  height: 5rem;
  width: 12rem;
  animation: aparacer 0.3s ease-out;
  font-size: 1.7rem;
  border: none;
  animation-fill-mode: backwards;
  font-weight: 600; }
  .login__button:hover {
    transform: translateY(-0.3rem);
    transform: scale(1.02); }
  .login__button:active {
    transform: translateY(-0.1rem);
    border: none; }

.login__divider {
  width: 70%;
  height: 0.3rem;
  background-color: #ffa83e59;
  margin-bottom: 5rem;
  border-radius: 10px; }

.login__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login__link {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  line-height: 4;
  font-size: 1.5rem; }
  .login__link:hover {
    color: #ffa73e; }

.login__img-logo {
  margin-bottom: 2rem; }

.icon {
  margin-right: 2rem;
  font-size: 2rem; }

@keyframes aparacer {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  90% {
    opacity: 1;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
