html {
  font-size: 16px; }

.login__msg {
  font-size: 1.3rem; }

.login__main {
  background-color: rgba(255, 167, 62, 0.1);
  height: 100vh; }

.login__container {
  border-radius: 20px;
  background-color: #ffffff;
  height: 90vh;
  width: 80vw;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0.1rem 0.1rem rgba(99, 77, 51, 0.2); }

.login__form-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: centers;
  justify-content: center;
  height: 80vh;
  border-color: black;
  border-width: 0.3rem; }

.login__title {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin-bottom: 0.2rem; }

.login__input-container {
  display: flex;
  height: 2rem;
  margin-bottom: 0.5rem; }

.login__input-field {
  border-radius: 0.6rem;
  width: 50%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgba(255, 167, 62, 0.1); }
  .login__input-field:focus {
    outline: none;
    padding: 0.3rem;
    border-color: rgba(255, 167, 62, 0.4); }

.login__button {
  background-color: #ffa73e;
  color: white;
  border-radius: 0.7rem;
  padding: 0rem 1.2rem;
  height: 2.5rem;
  width: 10rem;
  animation: aparacer 0.3s ease-out;
  font-size: 1.5rem;
  border: none;
  animation-fill-mode: backwards;
  font-weight: 600; }
  .login__button:hover {
    transform: translateY(-0.3rem);
    transform: scale(1.02); }
  .login__button:active {
    transform: translateY(-0.1rem);
    border: none; }

.login__divider {
  width: 70%;
  height: 0.15rem;
  background-color: #ffa83e59;
  margin-bottom: 2rem;
  border-radius: 10px; }

.login__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.login__link {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  line-height: 4;
  font-size: 1.3rem; }
  .login__link:hover {
    color: #ffa73e; }

.login__img-logo {
  margin-bottom: 1.5rem; }

.icon {
  margin-right: 2rem;
  font-size: 1.3rem; }

@keyframes aparacer {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  90% {
    opacity: 1;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.home__main {
  display: flex;
  overflow-y: scroll; }

.home__sidebar {
  width: 10vw;
  height: 97.5vh;
  padding-left: 1rem;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: column; }

.home__username {
  font-size: 2rem;
  color: black; }

.home__container {
  width: 98%;
  height: 93%;
  padding: 3rem 2rem; }

.home__logo {
  padding: 0.5rem 2rem; }

.home__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; }

.home__buttons-upload {
  border-radius: 2rem;
  background-color: #ffa73e;
  border: none;
  color: white;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  width: 60%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301); }

.home__links {
  margin-top: 4rem;
  width: 100%;
  padding-left: 3rem; }

.home__link {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  width: 17rem;
  padding: 0.5rem 2rem; }
  .home__link-active {
    border: 0.5px solid rgba(255, 167, 62, 0.4);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-weight: 600;
    color: #ffa73e; }

.home__container-title {
  color: #4b4b4b; }

.icon {
  margin-right: 0.2 rem; }

.thead-orange {
  background-color: rgba(255, 167, 62, 0.1); }

.btn-back {
  font-size: 1rem;
  background-color: transparent;
  border-color: grey;
  border-width: 0.3rem;
  border-radius: 2rem;
  border: none;
  color: #ffa73e;
  padding: 0.8rem 1.3rem;
  margin-bottom: 2rem; }

.btn-back:hover {
  background-color: rgba(255, 167, 62, 0.9);
  box-shadow: 3p 3px 5px black;
  color: white;
  text-decoration: none; }

.project__name {
  font-size: 1.7rem; }

.home__column {
  display: flex;
  flex-direction: column; }

.project__box-details {
  background-color: white;
  height: 17rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.05rem rgba(129, 129, 129, 0.37);
  width: 98%;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 2rem 2rem; }

.project__label {
  font-size: 1.2rem;
  color: #818181; }

.project__text {
  font-size: 1.3rem;
  text-align: justify; }

.bg-orange {
  background-color: #ffa73e !important; }
